{% extends "layout.html" %}

{% block title %}
    Welcome!
{% endblock %}

{% block main %}

    <div class="container-lenceria">
        <div class="imagenes-lenceria">
            <img class="imagen-lenceria" src="/static/lenceria/lenceria1.png" alt="lenceria 1">
        </div>
        <div class="lenceria-description">
            <p class="lenceria-title">Conjunto 1</p>
            <p class="lenceria-varios"><b> Talla:</b> M</p>
            <p class="lenceria-varios"><b> Medidas recomendadas:</b></p>
            <ul >
                <li class="lista-lenceria">Pecho: 90-94 cm</li>
                <li class="lista-lenceria">Cintura: 70-74 cm.</li>
            </ul>
            <p class="lenceria-subtitle lenceria-varios">Precio: </p> 
            <p>&emsp;199.000 Gs</p> 

        </div>
    </div>

    <div class="container-lenceria">
        <div class="imagenes-lenceria">
            <img class="imagen-lenceria" src="/static/lenceria/lenceria2.png" alt="lenceria 2">
        </div>
        <div class="lenceria-description">
            <p class="lenceria-title">Conjunto 2</p>
            <p class="lenceria-varios"><b> Talla:</b> M y G.</p>
            <p class="lenceria-varios"><b> Medidas recomendadas:</b></p>
            <ul>
                <li class="lista-lenceria">M-Pecho: 90-94 cm</li>
                <li style="margin-top: 10px;" class="lista-lenceria">M-Cintura: 70-74 cm.</li>
                <li style=" margin-top: 20px;" class="lista-lenceria">G-Pecho: 94-100 cm</li>
                <li class="lista-lenceria">G-Cintura: 74-80 cm</li>
            </ul>
            <p class="lenceria-subtitle lenceria-varios">Precio: </p> 
            <p>&emsp;159.000 Gs</p> 

        </div>
    </div>


    <div class="container-lenceria">
        <div class="imagenes-lenceria">
            <img class="imagen-lenceria" src="/static/lenceria/lenceria3.png" alt="lenceria 2">
        </div>
        <div class="lenceria-description">
            <p class="lenceria-title">Conjunto 3</p>
            <p class="lenceria-varios"><b> Talla:</b> M</p>
            <p class="lenceria-varios"><b> Medidas recomendadas:</b></p>
            <ul>
                <li class="lista-lenceria">Pecho: 90-94 cm</li>
                <li class="lista-lenceria">Cintura: 72-88 cm.</li>
                <li class="lista-lenceria">Cintura: 70-74 cm</li>
            </ul>
            <p class="lenceria-varios"><b> Obs:</b>Incluye la cadenita de la cintura.</p>
            <p class="lenceria-subtitle lenceria-varios">Precio: </p> 
            <p>&emsp;199.000 Gs</p> 

        </div>
    </div>




    
    <div class="container-lenceria">
        <div class="imagenes-lenceria">
            <img class="imagen-lenceria" src="/static/lenceria/lenceria4.png" alt="lenceria 2">
        </div>
        <div class="lenceria-description">
            <p class="lenceria-title">Conjunto 4</p>
            <p class="lenceria-varios"><b> Talla:</b>P</p>
            <p class="lenceria-varios"><b> Medidas recomendadas:</b></p>
            <ul>
                <li class="lista-lenceria">Pecho: 66-68 cm</li>
                <li class="lista-lenceria">Longitud del sosten: 13 cm</li>
                <li style="margin-top: 10px;" class="lista-lenceria">Cintura alta: 58-76 cm</li>
                <li style="margin-top: 10px;" class="lista-lenceria">Cintura alta: 62-88 cm</li>
                <li class="lista-lenceria">Longitud de braga:s 21 cm.</li>
            </ul>
            <p class="lenceria-varios"><b> Obs:</b>Incluye la cadenita de la cintura.</p>
            <p class="lenceria-subtitle lenceria-varios">Precio: </p> 
            <p>&emsp;199.000 Gs</p> 

        </div>
    </div>









{% endblock %}
