{% extends "layout.html" %}

{% block title %}
    Makeup
{% endblock %}

{% block main %}
    <div class="container-products">
        <div  class="imagenes-products">
            <img class="image-product" src="/static/products/product1.png" alt="True Passion L' Eau Mary Kay Fragancia Dama Perfume Mujer">

        </div>
        <div class="product-description">
            <p class="product-title">True Passion L' Eau Mary Kay Fragancia</p>
                <p class="product-subtitle">Descripción</p>
                <p>&emsp;Una mezcla de mandarina, frutos rojos y un rico acorde de café moca, esta fragancia floral gourmand brinda un aroma brillante e irresistible. </p>
                <p class="product-subtitle">Tips de Aplicación</p>  
                <p>&emsp;Aplica la fragancia en cuello, muñecas, pliegue interior de los codos y rodillas.</p>
                <p class="product-subtitle">Notas:</p>  
                <ul>
                    <li style="list-style-type: circle;">Notas altas: Mandarina, Frutos Rojos, Bergamota</li>
                    <li style="list-style-type: circle;">Notas medias: Jazmín, Heliotropo, Cachemira, Café Moca</li>
                    <li style="list-style-type: circle;">Notas bajas: Vainilla, Cumarina, Almizcle, Ámbar</li>
                </ul>
                <p class="product-subtitle">Precio: </p> 
                <p>&emsp;200.000 Gs</p> 
            </p>
        </div>
    </div>
    <div class="clear"></div>


    <div class="container-products">
        <div  class="imagenes-products">
            <img class="image-product" src="/static/products/product2.png" alt="Fragancia y duo">
        </div>
        <div class="product-description">
            <p class="product-title">Fragancia Modern Charm y Dúo de Sombras</p>
            <p class="product-subtitle">Descripción</p>
            <p>&emsp;La fragancia Modern Charm Eau de Parfum representa la nueva definición de la feminidad. Combina los tonos vibrantes del dúo de sombras con unos labios nude más sutiles 
                para mantener el equilibrio en tu rostro, o crea un look monocromático más atrevido combinando un color de labios morados.
            </p>
            <p class="product-subtitle">Notas:</p>
            <ul>
                <li style="list-style-type: circle;">Notas altas: Melón, manzana, hojas aromáticas de laurel.</li>
                <li style="list-style-type: circle;">Notas medias: Flor de durazno, iris, jazmín, jacinto</li>
                <li style="list-style-type: circle;">Notas bajas: Vetiver, ámbar, pachulí. </li>
            </ul> 
            <p class="product-subtitle">Precio: </p> 
            <ul>
                <li style="list-style-type: circle;">Fragancia Modern Charm: 236.000 Gs</li>
                <li style="list-style-type: circle;">Dúo de Sombras: 74.000 Gs</li>
            </ul> 
        </div>
    </div> 

    <div class="container-products">
        <div  class="imagenes-products">
            <img class="image-product"  src="/static/products/product3.png" alt="Labial">
        </div>
        <div class="product-description">
            <p class="product-title">Delineadores líquidos Game On de Ruby Rose</p>
            <p class="product-subtitle">Descripción</p>
            <p>&emsp;¡El delineador GAME ON vino para dar diversión y color a tus ojos! <br> Su pincel posee una punta superfina que posibilita crear trazos precisos con alta pigmentación y larga duración<br>
                Son 6 colores distintos con los que podrás jugar y combinar de acuerdo a tu mood!
            </p>
            <p class="product-subtitle">Instrucciones de uso</p>  
            <p>&emsp;Con un pincel difuminador esponjoso, elige el tono deseado y comienza aplicándolo en el cóncavo, depositando la sombra y luego difuminando con movimientos de ida y vuelta hasta que la sombra no quede marcada.
                Agrega tantos tonos como quieras.
            </p>

            <p class="product-subtitle">Precio: </p> 
            <p>&emsp;22.000 Gs</p> 
        </div>
    </div>    


    <div class="container-products">
        <div  class="imagenes-products">
            <img class="image-product"  src="/static/products/product4.png" alt="Paleta de sombras Piña Colada de Ruby Rose">
        </div>
        <div class="product-description">
            <p class="product-title">Paleta de sombras Piña Colada de Ruby Rose</p>
            <p class="product-subtitle">Descripción</p>
            <p>&emsp;La paleta de sombras de ojos Piñacolada de Ruby Rose tiene siete tonos, cuatro de los cuales son metálicos y tres son opacos.<br>
                La paleta tiene tonos de marrón, dorado y verde.Las sombras de ojos son pigmentadas y suaves y su empaque es compacto.
            </p>
            <p class="product-subtitle">Precio: </p> 
            <p>&emsp;40.000 Gs</p> 
        </div>
    </div>   

    <div class="container-products">
        <div  class="imagenes-products">
            <img class="image-product"  src="/static/products/product5.png" alt="Set Manos de Seda con Karité Té Blanco y Cítricos Satin Hands de Mary Kay">
        </div>
        <div class="product-description">
            <p class="product-title">Set Manos de Seda con Karité Té Blanco y Cítricos Satin Hands de Mary Kay</p>
            <p class="product-subtitle">Descripción</p>
            <p>&emsp;Este tratamiento como de spa revitaliza y rejuvenece el aspecto de las manos para que se sientan renovadas y más saludables al instante.
            </p>
            <p class="product-subtitle">Incluye:</p>
            <ul>
                <li style="list-style-type: circle;">Crema para Manos con Karité</li>
                <li style="list-style-type: circle;">Crema Exfoliante Refinadora para Manos con Karité</li>
                <li style="list-style-type: circle;">Crema Restauradora para Manos </li>
            </ul>
            <p class="product-subtitle">Precio: </p> 
            <p>&emsp;238.000 Gs</p> 
        </div>
    </div>   


    <div class="container-products">
        <div  class="imagenes-products">
            <img class="image-product"  src="/static/products/product6.png" alt="Mascarilla Clear Proof de Mary Kay">
        </div>
        <div class="product-description">
            <p class="product-title">Mascarilla Clear Proof de Mary Kay</p>
            <p class="product-subtitle">Descripción</p>
            <p>&emsp;Esta mascarilla de triple acción limpia la piel en profundidad, reduce de forma inmediata los brillos y presenta un efectivo complejo con extractos botánicos para ayudar a conseguir una piel bonita.<br>
                    Formulada con carbón activado, un ingrediente que absorbe hasta el doble de su peso en impurezas.
            </p>
            <p class="product-subtitle">Beneficios:</p>
            <ul>
                <li style="list-style-type: circle;">El carbón activado aporta un extra a tu limpiador diario.</li>
                <li style="list-style-type: circle;">Actúa como un imán para limpiar los poros en profundidad.</li>
                <li style="list-style-type: circle;">La fórmula ha demostrado clínicamente que absorbe al instante el exceso de grasa y reduce los brillos.</li>            </ul>
            <p class="product-subtitle">Precio: </p> 
            <p>&emsp;135.000 Gs</p> 
        </div>
    </div>       




{% endblock %}
